@using CustomReports.Models
@model List<Report>
<button class="btn btn-primary">New Report</button>
<h1>Available Reports</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Report Name</th>
            <th>Cube Name</th>
            <th>Customers</th>
            <th>Edit Report</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <th> @report.Id</th>
                <td> @report.ReportName</td>
                <td> @report.CubeName</td>
                <td><form action="Details/@report.Id"><button class="btn btn-success">Customers</button></form></td>
                <td><button class="btn btn-primary">Edit</button></td>
            </tr>
        }
    </tbody>
</table>
